button {
  background-color: var(--primary-color);
  cursor: pointer;
  border: 0;
  font-weight: 500;
  border-radius: 2.5px;
  transition: all 0.25s ease;
  padding: 5px 10px;
}

button:hover {
  background-color: var(--primary-color-darker);
}

.btn-big {
  font-size: 1rem;
}

.btn-fullWidth {
  width: 100%;
  font-size: 1.075rem;
}
