@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --bg-color: #242424;
  --font-color: #f0f0f0;

  --primary-color: #fdb750;
  --primary-color-darker: #ecac4c;

  --secondary-color: #fd7f20;
  --tertiary-color: #fc2e20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
