header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  max-width: 1200px;
}

.header_title {
  font-size: 1.5rem;
}

.header_btn-container {
  display: flex;
  gap: 10px;
}
