.card {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 15px;
  border-radius: 10px;
  max-width: 250px;
  cursor: context-menu;
  transition: all 0.25s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card_title {
  color: var(--secondary-color);
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
}

.card_content {
  opacity: 0.75;
  font-size: 0.95rem;
}
